@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model DesafioFramework.Models.Dto.EstadoDto

<div class="row col-12">
    <form asp-action="Edit">
        <div class="form-group">
            <label asp-for="descricao">Descrição</label>
            <input type="text" class="form-control" asp-for="descricao" id="nome" placeholder="Nome do estado">
            <input type="hidden" asp-for="idEstado" id="idestado">
        </div>
        <div class="form-group">
            <label asp-for="fkidPais">Descrição</label>
            <select asp-for="fkidPais" class="form-control" id="pais">
                @foreach (var item in Model.paises)
                {
                    @if (Model.fkidPais == item.idPais)
                    {
                        <option value="@item.idPais" selected>@item.Descricao</option>
                    }
                    else
                    {
                        <option value="@item.idPais">@item.Descricao</option>
                    }
                }
            </select>
        </div>
        <button type="button" onclick="Edit()" class="btn btn-primary">Cadastrar</button>
    </form>
</div>

<script>
    function Edit() {
        var e = document.getElementById("nome").value;
        var ex = document.getElementById("idestado").value;
        var er = document.getElementById("pais");
        var idpais = er.options[er.selectedIndex].value;

        console.log(e, ex, idpais);

        const formData = new FormData();
        formData.append('descricao', e);
        formData.append('fkidPais', idpais);
        formData.append('idEstado', ex);

        return fetch('/estado', {
            method: 'put',
            body: formData
        }).then(window.location.href = "/estado");
    }
</script>