@{
    ViewData["Title"] = "Home Page";
}

<div class="row col-12">
    <div class="col-md-3 col-12 col-sm-6">
        <div class="card">
            <div class="card-body text-center">
                <p class="card-text">Crud Paises</p>
                <a href="/pais" class="btn btn-primary">Ver mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 col-sm-6">
        <div class="card">
            <div class="card-body text-center">
                <p class="card-text">Crud Estados</p>
                <a href="/estado" class="btn btn-primary">Ver mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 col-sm-6">
        <div class="card">
            <div class="card-body text-center">
                <p class="card-text">Crud Cidades</p>
                <a href="/cidade" class="btn btn-primary">Ver mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 col-sm-6">
        <div class="card">
            <div class="card-body text-center">
                <p class="card-text">Crud Pacientes</p>
                <a href="/paciente" class="btn btn-primary">Ver mais</a>
            </div>
        </div>
    </div>
</div>
